<h1 class="text-center" style="margin-bottom: 50px">关于唐诗密码本
        <a href="#/" class="glyphicon glyphicon-info-sign"/></h1>
<div style="margin:20px">
	<h3>怎么使用?</h3>
	<article>如果你不知道怎么编一个复杂的密码,那么随机生成一个. 比如"SDSGB9H". 可是这是个什么鬼怎么记?! 来,背一句唐诗就好了. "上帝深宫闭九阍". 拼音首字就是. 而且有数字的哦. 密码级别很高的. 如果有天忘了,凭模糊的印象去翻李商隐的诗集. 或许能找出来的.</article>
	<h3>灵感词怎么用?</h3>
	<article>如果你输入了灵感词,密码句子里会尽量包含这个词.但是不保证有. 比如你希望给自己的工商银行账号起密码,但是又怕不好记.可以以"工商"为灵感词.生成"GSCWQ，NMDSB" (工商彻屋去,牛马登山避)(大水-白居易). 如果希望有数字3.可以用"三"做灵感词,得到如"MJZWWXY，XZ3ZBYR"(盟经早晚闻仙语,学种三芝伴羽人)这样的密码. </article>
	<h3>如何掺沙子</h3>
	<article>
	演示下如何掺沙子。 为了方便理解。不用英文了。中文请脑补为拼音。<br/>
	伪随机母密码：『两个黄鹂鸣翠柳』<br/>
	=><br/>
	黄鹂鸣翠柳<br/>
	2 个黄鹂鸣翠柳<br/>
	两个黄鹂鸣:翠柳<br/>
	两个 /黄鹂 /鸣翠柳<br/>
	2 个 /黄鹂 /鸣:翠柳<br/>
	2 个 /y 鹂:鸣翠柳 (注： y 是 yellow 的意思）<br/>
	2 个 /y 鹂,鸣:gt (注： gt 是 green tree 的意思）<br/>
	2bmgt (注： two birds 鸣 green tree )<br/>
	两个黄鹂在 V2EX 鸣翠柳<br/><br/>
	采用唐诗的意义在于，由于母密码是有语言含义的，用户可以做很多变幻，又不丧失可记忆性。<br/>
	唐诗密码本采用的是全唐诗，字数是唐诗300首的 140 多倍。<br/>
	加上类似上面的 特殊符号断句，数字化，英文化，减字, 增字 等多种变幻手法排列组合,一个母密码可以变幻上千倍。<br/>
	上千倍怎么算:你只要往里面加2个数字/字母. 那么排列组合是36*36=1296. 也就是把母密码的变化扩大了1296倍.<br/>
	</article>
	<h3>开源项目</h3>
	<article>这是一个开源项目, <a href="https://github.com/fangj/mima">https://github.com/fangj/mima</a>, 用 express,angular 搭建. 欢迎小伙伴到 github 上点小星星.</article>
	<h3>感谢</h3>
	<article> 本项目使用了这些小伙伴的贡献:
	<ul>
		<li><a href="https://github.com/hxgdzyuyi/tang_poetry">https://github.com/hxgdzyuyi/tang_poetry</a></li>
		<li><a href="https://github.com/hotoo/pinyin">https://github.com/hotoo/pinyin</a></li>
	</ul>
	</article>
	<h3>关于我</h3>
	<article>
		饭叔,湖建血统的南京土著. 养着一只肥白的中华田园猫. 有很多有趣的想法,就是没空做T T. 
	</article>
	<dir-disqus disqus-shortname="mima-fj"
		 disqus-identifier="mima-about"
         disqus-url="http://mima.treenote.net/#about"></dir-disqus>
</div>