<h1 class="text-center" style="margin-bottom: 50px">关于唐诗密码本
        <a href="#/" class="glyphicon glyphicon-info-sign"/></h1>
<div style="margin:20px">
	<h3>怎么使用?</h3>
	<article>如果你不知道怎么编一个复杂的密码,那么随机生成一个. 比如"SDSGB9H". 可是这是个什么鬼怎么记?! 来,背一句唐诗就好了. "上帝深宫闭九阍". 拼音首字就是. 而且有数字的哦. 密码级别很高的. 如果有天忘了,凭模糊的印象去翻李商隐的诗集. 或许能找出来的.</article>
	<h3>灵感词怎么用?</h3>
	<article>如果你输入了灵感词,密码句子里会尽量包含这个词.但是不保证有. 比如你希望给自己的工商银行账号起密码,但是又怕不好记.可以以"工商"为灵感词.生成"GSCWQ，NMDSB" (工商彻屋去,牛马登山避)(大水-白居易). 如果希望有数字3.可以用"三"做灵感词,得到如"MJZWWXY，XZ3ZBYR"(盟经早晚闻仙语,学种三芝伴羽人)这样的密码. </article>
	<h3>开源项目</h3>
	<article>这是一个开源项目, <a href="https://github.com/fangj/mima">https://github.com/fangj/mima</a>, 用 express,angular 搭建. 欢迎小伙伴到 github 上点小星星.</article>
	<h3>感谢</h3>
	<article> 本项目使用了这些小伙伴的贡献:
	<ul>
		<li><a href="https://github.com/hxgdzyuyi/tang_poetry">https://github.com/hxgdzyuyi/tang_poetry</a></li>
		<li><a href="https://github.com/hotoo/pinyin">https://github.com/hotoo/pinyin</a></li>
	</ul>
	</article>
	<h3>关于我</h3>
	<article>
		方健,湖建血统的南京土著. 养着一只肥白的中华田园猫. 有很多有趣的想法,就是没空做T T. 
		<br>
		加微信的同学请给我发红包. 谢谢! 
		<br>
		<img src="images/wechat_fangjian.jpg" style="width:100%;max-width: 320px">
	</article>
</div>